
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/myStyle.css")
</head>
<body>
    <div> 
        <h1>@ViewBag.Title</h1>

        <img src="~/Content/eagle.png" style="width:50px;" />
    </div>
</body>
</html>
